html, body{
  height: 100%;
}

.container-fluid {
  height: 100%;
}
.page-content {
  height: 100%;
}

#user_handicap {
  width: 20px;
}

.logo-resrel {
  @media (max-width: 768px) {
    margin-top: -50px;
    margin-bottom: -90px;
  }
}

#profile-header {
  p {
    color: white;
  }
}

a {
  cursor: pointer;
}
